<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.rekrutmenAUConnectionString" connectionString="Data Source=sherlock;Initial Catalog=rekrutmenAU;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
        <add name="DataAccess.Properties.Settings.rekrutmenAUConnectionString1" connectionString="Data Source=SERVER-PC;Initial Catalog=rekrutmenAU;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DataAccess.Properties.Settings.rekrutmenAU_DikaConnectionString" connectionString="Data Source=.\SQL2012;Initial Catalog=rekrutmenAU_Dika;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DataAccess.Properties.Settings.rekrutmenAUConnectionString2" connectionString="Data Source=sherlock;Initial Catalog=rekrutmenAU;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DataAccess.Properties.Settings.rekrutmenAUConnectionString3" connectionString="Data Source=.\SQL2012;Initial Catalog=rekrutmenAU;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="DataAccess.Properties.Settings.rekrutmenAUConnectionString4" connectionString="Data Source=.;Initial Catalog=rekrutmenAU;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DataAccess.Properties.Settings.DataSourceConnectionString" connectionString="Data Source=s10.winhost.com;Persist Security Info=True;User ID=db_90780_rekrutkrut_user" providerName="System.Data.SqlClient"/>
        <add name="DataAccess.Properties.Settings.DB_90780_rekrutkrutConnectionString" connectionString="Data Source=.\sql2012;Initial Catalog=DB_90780_rekrutkrut;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="DataAccess.Properties.Settings.DB_90780_rekrutkrutConnectionString1" connectionString="Data Source=SUCOM\SQL2012;Initial Catalog=DB_90780_rekrutkrut;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DataAccess.Properties.Settings.DB_90780_rekrutkrut_realConnectionString" connectionString="Data Source=.\sql2012;Initial Catalog=DB_90780_rekrutkrut_real;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
